<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>A+ Chartered Accountants</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59205589-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body id="page-top" class="index" data-ng-app="myApp" data-ng-controller="homeCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">A+ Chartered Accountants</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#fee">Fee</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Aplus International Associates Ltd!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#services" class="page-scroll btn btn-xl">Find Out More</a>
            </div>
        </div>
    </header>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">To see what we do</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Accounting Services</h4>
                    <p class="text-muted-left">
                        We can help you to produce timely Annual Accounts. This is essential and useful for your business as they provide vital information on the state of the business at any time or over the year and they are necessary to fulfill the organisation's taxation obligations.
                    </p>
                    <p class="text-muted-left">
                        We also provide the following services:
                        <ul class="text-muted-left">
                            <li>
                                Company incorporation along with preparation of company constitution and application of IRD number
                            </li>
                            <li>
                                Financial Forecasting and Budgeting
                            </li>
                        </ul>
                    </p>
                    <p class="text-muted-left">
                        我们提供年终财务报表的服务。及时的准备年终财务报表是很重要的。它可以帮助您在任何时候了解公司的运营及盈利情况。它是为准备年终报税的基础。
                    </p>
                    <p class="text-muted-left">
                        我们还可以提供其他服务：
                        <ul class="text-muted-left">
                            <li>
                                注册新公司以及申请公司税号
                            </li>
                            <li>
                                公司账面预算和预估
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tax and Compliance</h4>
                    <p class="text-muted-left">
                        In order to comply with IRD requirements we will prepare a set of Annual Accounts as well as an Income Tax Statement. If your business is registered for GST we can also prepare, file with IRD and reconcile your business' GST Statements.
                        <ul class="text-muted-left">
                            <li>
                                Income Tax Return Preparation for Company, Trust, Partnership
                            </li>
                            <li>
                                Income Tax Return Preparation for individual
                            </li>
                            <li>
                                Rental property tax
                            </li>
                            <li>
                                GST, FBT, PAYE, RWT registration
                            </li>
                        </ul>
                    </p>
                    <p class="text-muted-left">
                        为了满足政府和税务局的规定，我们会帮您的公司和个人准备年终报表和年终财务报税。如果您的公司是注册GST的，我们还会帮您提供GST报表。
                        税务服务包括:
                        <ul class="text-muted-left">
                            <li>
                                个人，公司，信托基金报税及退税
                            </li>
                            <li>
                                出租房税收
                            </li>
                            <li>
                                GST, FBT, PAYE, RWT, DWT
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Accounting system and software training</h4>
                    <p class="text-muted-left">
                        We offer the following services:
                        <ul class="text-muted-left">

                            <li>
                                Book-keeping System such as Xero, MYOB, Banklink, Quickbooks
                            </li>
                            <li>
                                Understanding Financial Statements and Income Tax Return
                            </li>
                            <li>Website Liaison</li>
                        </ul>
                    </p>
                    <p class="text-muted-left">
                        我们还提供会计培训，试用于业主，公司内部会计或记账员，会计毕业生以及在校会计学生
                        <ul class="text-muted-left">
                            <li>
                                会计软件培训
                            </li>
                            <li>
                                读懂年终报表以及税表
                            </li>
                            <li>网站设计和推广</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="fee" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Fee</h2>

                    <h3 class="col-lg-9 col-centered section-subheading text-muted-left">
                        <p>
                            At Aplus Accounting Services, we're all about making Annual Accounting and Taxation & Compliance affordable!
                            Unlike a high street accountant, we work online, over the phone and by post. So we are able to offer you great service at a lowest price below.
                        </p>
                    </h3>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-centered">
                    <div class="portfolio-caption">
                        <p class="text-muted">
                            We agree fees with you prior to the acceptance of any engagement. All fee structures are agreed by quotation and contract.
                        </p>
                        <p>
                            <table class="table">
                                <tr>
                                    <th>Service Level:</th>
                                    <th>Our Fee</th>
                                </tr>
                                <tr>
                                    <td>Annual Report</td>
                                    <td>$600-$2000</td>
                                </tr>
                                <tr>
                                    <td>PTS Tax Refund - PAYE only</td>
                                    <td>$39</td>
                                </tr>
                                <tr>
                                    <td>Income Tax Return - Individual</td>
                                    <td>$200 or 10% of refund</td>
                                </tr>
                                <tr>
                                    <td>Income Tax Return - Company/Trust</td>
                                    <td>$200</td>
                                </tr>
                                <tr>
                                    <td>GST Return</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td>Book keeping & Data entry</td>
                                    <td>$30 per hr</td>
                                </tr>
                                <tr>
                                    <td>FBT/PAYE return</td>
                                    <td>$50</td>
                                </tr>
                            </table>
                        </p>
                        <p class="text-muted">
                            We know Cash is King for any business, so we offer flexible monthly payments over a six month period for amounts over $500.
                        </p>
                        <p class="text-muted">
                            Contact us:<br />
                            Phone: 021 077 8885 or 04 478 0759<br />
                            Email: <a href="mailto:info@aplusca.co.nz" target="_top">info@aplusca.co.nz</a><br />
                            Wechat: sherryNZCA
                            <img src="img/resize_png_new.png" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Company</h4>
                                    <!--<h4 class="subheading">Story one</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Aplus International Associates Limited has been helping individuals and small businesses with their accounting and taxation requirements since May 2012. We are offering accounting services and assistance such as bookkeeping, financial statements preparation, income tax filing. budgeting and forecasting preparation and general tax advisory.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our People</h4>
                                    <!--<h4 class="subheading">Story two</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Our accountants have extensive accounting knowledge and experience and we have worked in both big-4 accounting firm, public sectors and private companies. We also have IT programmers and engineers to provide you with IT services such as website design and system testing. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Clients</h4>
                                    <!--<h4 class="subheading">Story three</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Majority of our clients are SME in retailing, properties development, constructions, export and import, and dairy industry. Some are mature businesses and some are start-up. Aplus International Associates Limited has the confidence that we can provide the best accounting services at an affordable price.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Story four</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br>
                                    Of Our
                                    <br>
                                    Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted-left contact-text">
                        <p class="text-muted-left">
                            When you're looking for a better Accounting Services, we've got the knowledge, years of practical experience in problem solving and qualifications to deliver you the outcome you can expect from working with us!
                        </p><p class="text-muted-left">
                                If you're interested in our Annual accounts and tax service, we'd love to hear from you. For an obligation free chat, simply give us a call on 021 077 8885 or fill out the contact us form and we'll be in touch fast.
                        </p>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" required data-ng-model="youName" id="name" data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" required data-ng-model="emailAddress" id="email" data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" required data-ng-model="youPhone" id="phone" data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" required data-ng-model="emailMessage" id="message" data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <div class='alert alert-success' data-ng-show="isEmailSent" data-ng-init="isEmailSent = false">
                                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true' data-ng-click="isEmailSent = false">&times;</button>
                                    <strong>Your message has been sent. </strong>
                                </div>
                                <button type="submit" class="btn btn-xl" data-ng-click="sendEmail()">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted contact-text">

                        Contact us:<br />
                        Phone: 021 077 8885 or 04 478 0759<br />
                        Email: <a href="mailto:info@aplusca.co.nz" target="_top">info@aplusca.co.nz</a><br />
                        Wechat: sherryNZCA
                        <img src="img/resize_png_new.png" />
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{copyRight}}</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!--<script src="js/contact_me.js"></script>-->
    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/project/app.js"></script>
    <script src="js/project/emailService.js"></script>
    <script src="js/project/homeCtrl.js"></script>
</body>
</html>
